
@*
    _UIHomeAboutItemComponent
*@
<div class="about-content3 mt-30" data-aos="fade-up" data-aos-duration="1200">
    <div class="row">
        <div class="col-md-12">
            <ul class="green">
                <li> 24 Month / 24,000km Nationwide Warranty monotone</li>
                <li> Curabitur dapibus nisl a urna congue, in pharetra urna accumsan.</li>
                <li> Customer Rewards Program and excellent technology</li>
            </ul>
        </div>
    </div>
</div>