
@* _DashboardSubChartsComponent *@

<div class="row row-cols-1 row-cols-lg-3">

    @await Component.InvokeAsync("_DashboardSubCharts1Component")
    @await Component.InvokeAsync("_DashboardSubCharts2Component")
    @await Component.InvokeAsync("_DashboardSubCharts3Component")



</div><!--end row-->

<br />
<br />
