
@* _DashboardSubChartsComponent *@

<div class="row row-cols-1 row-cols-lg-3">
    <div class="col">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="">
                        <h4 class="mb-0">24.5K</h4>
                        <p class="mb-0">Facebook Followers</p>
                    </div>
                    <div class="fs-2 text-facebook">
                        <i class="bi bi-facebook"></i>
                    </div>
                </div>
                <div id="chart7"></div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="">
                        <h4 class="mb-0">37.8K</h4>
                        <p class="mb-0">Twitter Followers</p>
                    </div>
                    <div class="fs-2 text-twitter">
                        <i class="bi bi-twitter"></i>
                    </div>
                </div>
                <div id="chart8"></div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="">
                        <h4 class="mb-0">56.9K</h4>
                        <p class="mb-0">Youtube Subscribers</p>
                    </div>
                    <div class="fs-2 text-youtube">
                        <i class="bi bi-youtube"></i>
                    </div>
                </div>
                <div id="chart9"></div>
            </div>
        </div>
    </div>

</div><!--end row-->