@model List<Feature>
@{
    int count = 0;
}
@*
    _UIHomeFeatureComponent
*@

<section class="service-details pb-60 p-relative fix">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                count++;
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="services-box01 mb-30" data-aos="fade-left">
                        <div class="number">@count</div>
                        <h5>@item.Title</h5>
                        <p>@item.Description</p>
                                     
                    </div>
                </div>
            }
          
          
        </div>
    </div>
</section>