@model List<PricingPlan>
@*
    _UIHomePricingPlanComponent
*@


<div class="col-lg-6 col-md-12">
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-lg-6 col-md-6">
                <div class="pricing-box pricing-box2 mb-60" data-aos="fade-left" data-aos-duration="1000">
                    
                    <div class="pricing-head">
                        <h3>@item.Title</h3>
                        <div class="price-count">
                            <h2>@item.Price<strong>/Month</strong></h2>
                        </div>
                        <hr>
                    </div>

                    <div class="pricing-body mt-20 mb-30 text-left">
                        <ul>
                            @if (item.PricingPlanItems != null && item.PricingPlanItems.Any())
                            {
                                foreach (var planItem in item.PricingPlanItems)
                                {
                                    <li>@planItem.Title</li>
                                }
                            }
                            else
                            {
                                <li>Özellik bulunmamaktadır</li>
                            }
                        </ul>
                    </div>
                    <div class="pricing-btn">
                        <a href="contact.html" class="btn ss-btn">Join Now</a>
                    </div>

                </div>
            </div>
        }
    </div>
</div>