
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("_DashboardWidgetComponent")


             
    <div class="row">
        @await Component.InvokeAsync("_DashboardMainChartComponent")

        @await Component.InvokeAsync("_DashboardRoundChartComponent")

    </div>

@await Component.InvokeAsync("_DashboardSubWidgetComponent")
@await Component.InvokeAsync("_DashboardRadialChartComponent")


    <div class="row">
      
@await Component.InvokeAsync("_DashboardMLChartComponent")

 
   

    </div>

    <div class="row">
      

    @await Component.InvokeAsync("_DashboardPolicyTypeComponent")
    @await Component.InvokeAsync("_DashboardPiePolicyTypeComponent")
 

    </div>
         
    @await Component.InvokeAsync("_DashboardSubChartsComponent")
 

    <div class="row">
        @await Component.InvokeAsync("_DahsboardCommentListComponent")
           
    <div class="col-12 col-lg-6 col-xl-6 d-flex">
        <div class="card rounded-4 w-100">
            <div class="card-header bg-transparent">
                <div class="d-flex align-items-center">
                    <h6 class="mb-0">Chat Box</h6>
                    <div class="fs-5 ms-auto dropdown">
                        <div class="dropdown-toggle dropdown-toggle-nocaret cursor-pointer" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></div>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="chat-talk d-flex flex-column gap-4 p-3">
                    <div class="d-flex align-items-end gap-3">
                        <div class="chat-user">
                            <img src="~/snacked/ltr/assets/images/avatars/avatar-7.png" width="55" height="55" class="rounded-circle" alt="">
                            </div>
                            <div class="chat-msg border flex-grow-1 rounded-4 p-3">
                                Hello , Codervent
                            </div>
                        </div>
                        <div class="d-flex align-items-end gap-3">
                            <div class="chat-msg border flex-grow-1 rounded-4 p-3 bg-light">
                                Hello , Codervent
                            </div>
                            <div class="chat-user">
                                <img src="~/snacked/ltr/assets/images/avatars/avatar-7.png" width="55" height="55" class="rounded-circle" alt="">
                                </div>
                            </div>
                            <div class="d-flex align-items-end gap-3">
                                <div class="chat-user">
                                    <img src="~/snacked/ltr/assets/images/avatars/avatar-7.png" width="55" height="55" class="rounded-circle" alt="">
                                    </div>
                                    <div class="chat-msg border flex-grow-1 rounded-4 p-3">
                                        Hello , Codervent
                                    </div>
                                </div>
                                <div class="d-flex align-items-end gap-3">
                                    <div class="chat-msg border flex-grow-1 rounded-4 p-3 bg-light">
                                        Hello , Codervent
                                    </div>
                                    <div class="chat-user">
                                        <img src="~/snacked/ltr/assets/images/avatars/avatar-7.png" width="55" height="55" class="rounded-circle" alt="">
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-end gap-3">
                                        <div class="chat-user">
                                            <img src="~/snacked/ltr/assets/images/avatars/avatar-7.png" width="55" height="55" class="rounded-circle" alt="">
                                            </div>
                                            <div class="chat-msg border flex-grow-1 rounded-4 p-3">
                                                Hello , Codervent
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-end gap-3">
                                            <div class="chat-msg border flex-grow-1 rounded-4 p-3 bg-light">
                                                Hello , Codervent
                                            </div>
                                            <div class="chat-user">
                                                <img src="~/snacked/ltr/assets/images/avatars/avatar-7.png" width="55" height="55" class="rounded-circle" alt="">
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-end gap-3">
                                                <div class="chat-user">
                                                    <img src="~/snacked/ltr/assets/images/avatars/avatar-7.png" width="55" height="55" class="rounded-circle" alt="">
                                                    </div>
                                                    <div class="chat-msg border flex-grow-1 rounded-4 p-3">
                                                        Hello , Codervent
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-end gap-3">
                                                    <div class="chat-msg border flex-grow-1 rounded-4 p-3 bg-light">
                                                        Hello , Codervent
                                                    </div>
                                                    <div class="chat-user">
                                                        <img src="~/snacked/ltr/assets/images/avatars/avatar-7.png" width="55" height="55" class="rounded-circle" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer bg-transparent">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Type your message">
                                                        <button class="btn btn-primary" type="button"><i class="bi bi-send"></i></button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

       
    </div>


    <!-- JS -->
    <script src="/snacked/ltr/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/snacked/ltr/assets/js/jquery.min.js"></script>
    <script src="/snacked/ltr/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="/snacked/ltr/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="/snacked/ltr/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="/snacked/ltr/assets/js/pace.min.js"></script>

    <script src="/snacked/ltr/assets/plugins/chartjs/js/Chart.min.js"></script>
    <script src="/snacked/ltr/assets/plugins/chartjs/js/Chart.extension.js"></script>
    <script src="/snacked/ltr/assets/plugins/apexcharts-bundle/js/apexcharts.min.js"></script>
    <script src="/snacked/ltr/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/snacked/ltr/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>

    <script src="/snacked/ltr/assets/js/app.js"></script>
    <script src="/snacked/ltr/assets/js/index.js"></script>
    <script>
        new PerfectScrollbar(".review-list")
        new PerfectScrollbar(".chat-talk")
    </script>