

@* _DashboardRoundChartComponent *@


@{
    var approvedCommentCount = ViewBag.ApprovedCommentCount;
    var pendingCommentCount = ViewBag.PendingCommentCount;
    var toxicCommentCount = ViewBag.ToxicCommentCount;
    var totalCommentCount = ViewBag.TotalCommentCount;
}

<div class="col-12 col-lg-4 col-xl-4 d-flex">
    <div class="card w-100 rounded-4">
        <div class="card-body">
            <div class="d-flex align-items-center mb-3">
                <h6 class="mb-0">Yorum Durum Grafiği</h6>
            </div>

            <div id="commentStatusChart"></div>
        </div>

        <ul class="list-group list-group-flush mb-0 shadow-none">
            <li class="list-group-item bg-transparent border-top">
                <i class="bi bi-circle-fill me-2 font-weight-bold text-success"></i>
                Yorum Onaylandı
                <span class="float-end">@approvedCommentCount</span>
            </li>

            <li class="list-group-item bg-transparent">
                <i class="bi bi-circle-fill me-2 font-weight-bold text-warning"></i>
                Onay Bekliyor
                <span class="float-end">@pendingCommentCount</span>
            </li>

            <li class="list-group-item bg-transparent">
                <i class="bi bi-circle-fill me-2 font-weight-bold text-danger"></i>
                Toksik Yorum
                <span class="float-end">@toxicCommentCount</span>
            </li>
        </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    var approvedCommentCount = @approvedCommentCount;
    var pendingCommentCount = @pendingCommentCount;
    var toxicCommentCount = @toxicCommentCount;
    var totalCommentCount = @totalCommentCount;

    var options = {
        series: [approvedCommentCount, pendingCommentCount, toxicCommentCount],
        chart: {
            height: 310,
            type: 'radialBar'
        },
        plotOptions: {
            radialBar: {
                hollow: {
                    margin: 8,
                    size: '35%'
                },
                track: {
                    background: '#f1f1f1'
                },
                dataLabels: {
                    name: {
                        show: true,
                        fontSize: '14px'
                    },
                    value: {
                        show: true,
                        fontSize: '22px',
                        formatter: function () {
                            return totalCommentCount;
                        }
                    },
                    total: {
                        show: true,
                        label: 'Total',
                        formatter: function () {
                            return totalCommentCount;
                        }
                    }
                }
            }
        },
        labels: ['Yorum Onaylandı', 'Onay Bekliyor', 'Toksik Yorum'],
        colors: ['#15ca20', '#ffc107', '#fd3550']
    };

    var chart = new ApexCharts(document.querySelector("#commentStatusChart"), options);
    chart.render();
</script>