@*
   _DashboardRadialChartComponent
*@

@{
    var totalPolicyCount = ViewBag.TotalPolicyCount;
    var activePolicyCount = ViewBag.ActivePolicyCount;
    var passivePolicyCount = ViewBag.PassivePolicyCount;
    var kaskoPolicyCount = ViewBag.KaskoPolicyCount;

    var totalPolicyRate = ViewBag.TotalPolicyRate;
    var activePolicyRate = ViewBag.ActivePolicyRate;
    var passivePolicyRate = ViewBag.PassivePolicyRate;
    var kaskoPolicyRate = ViewBag.KaskoPolicyRate;
}

<div class="row row-cols-1 row-cols-lg-4 radial-charts g-4">

    <div class="col">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="text-center">
                    <p class="mb-1">Toplam Poliçe</p>
                    <h4>@totalPolicyCount</h4>
                </div>
                <div id="policyTotalChart"></div>
                <div class="text-center">
                    <p class="mb-1">Genel Portföy</p>
                    <h4>%@totalPolicyRate</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="text-center">
                    <p class="mb-1">Aktif Poliçe</p>
                    <h4>@activePolicyCount</h4>
                </div>
                <div id="activePolicyChart"></div>
                <div class="text-center">
                    <p class="mb-1">Aktiflik Oranı</p>
                    <h4>%@activePolicyRate</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="text-center">
                    <p class="mb-1">Pasif Poliçe</p>
                    <h4>@passivePolicyCount</h4>
                </div>
                <div id="passivePolicyChart"></div>
                <div class="text-center">
                    <p class="mb-1">Pasiflik Oranı</p>
                    <h4>%@passivePolicyRate</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="text-center">
                    <p class="mb-1">Kasko Poliçesi</p>
                    <h4>@kaskoPolicyCount</h4>
                </div>
                <div id="kaskoPolicyChart"></div>
                <div class="text-center">
                    <p class="mb-1">Kasko Oranı</p>
                    <h4>%@kaskoPolicyRate</h4>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    function createRadialChart(selector, value, color) {
        var options = {
            chart: {
                height: 180,
                type: "radialBar",
            },
            series: [value],
            plotOptions: {
                radialBar: {
                    hollow: {
                        size: "70%",
                    },
                    track: {
                        background: "#f2f2f2"
                    },
                    dataLabels: {
                        show: false
                    }
                }
            },
            colors: [color],
        };

        var chart = new ApexCharts(document.querySelector(selector), options);
        chart.render();
    }

    createRadialChart("#policyTotalChart", @totalPolicyRate, "#20c997");
    createRadialChart("#activePolicyChart", @activePolicyRate, "#6f42c1");
    createRadialChart("#passivePolicyChart", @passivePolicyRate, "#d63384");
    createRadialChart("#kaskoPolicyChart", @kaskoPolicyRate, "#ffc107");
</script>