
@*
   _DashboardRadialChartComponent
*@



<div class="row row-cols-1 row-cols-lg-4 radial-charts g-4">

    <div class="col">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="text-center">
                    <p class="mb-1">Orders</p>
                    <h4 class="">9,254</h4>
                </div>
                <div class="">
                    <div id="chart3"></div>
                </div>
                <div class="text-center">
                    <p class="mb-1">Completed</p>
                    <h4 class="">5632</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="text-center">
                    <p class="mb-1">Unique Visitors</p>
                    <h4 class="">5,2684</h4>
                </div>
                <div class="">
                    <div id="chart4"></div>
                </div>
                <div class="text-center">
                    <p class="mb-1">Increased since Last Week</p>
                    <h4 class="">25%</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="text-center">
                    <p class="mb-1">Impressions</p>
                    <h4 class="">7,362</h4>
                </div>
                <div class="">
                    <div id="chart5"></div>
                </div>
                <div class="text-center">
                    <p class="mb-1">Increased since Last Week</p>
                    <h4 class="">45%</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card rounded-4">
            <div class="card-body">
                <div class="text-center">
                    <p class="mb-1">Followers</p>
                    <h4 class="">4278K</h4>
                </div>
                <div class="">
                    <div id="chart6"></div>
                </div>
                <div class="text-center">
                    <p class="mb-1">Increased since Last Week</p>
                    <h4 class="">55%</h4>
                </div>
            </div>
        </div>
    </div>

</div>
