@* _UIHomeSkillComponent *@
<section id="skill" class="skill-area p-relative fix pt-120">
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <div class="col-lg-6 col-md-12 col-sm-12 pr-30">
                <div class="skills-img" data-aos="fade-right" data-aos-duration="1000">
                    <img src="~/images/skill4.png" alt="img" class="img">
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="skills-content s-about-content" data-aos="fade-left" data-aos-duration="1000">

                        <div class="skills-title pb-20">
                            <h2>Sektörde Güçlü ve Güvenilir Çözümler Sunuyoruz</h2>
                        </div>

                        <p>
                            Sigorta alanındaki uzmanlığımız ve yenilikçi yaklaşımımız ile müşterilerimize
                            güvenilir, hızlı ve sürdürülebilir çözümler sunuyoruz. Risklerinizi analiz ederek
                            size en uygun poliçe seçeneklerini profesyonel bir bakış açısıyla sunarız.
                        </p>

                        <div class="mt-20">
                            <div class="skills">

                                <div class="skill mb-30">
                                    <div class="skill-name">Başarıyla Sonuçlanan Poliçeler</div>
                                    <div class="skill-bar">
                                        <div class="skill-per" id="85"></div>
                                    </div>
                                </div>

                                <div class="skill mb-30">
                                    <div class="skill-name">Sigorta Sektörü Deneyimi</div>
                                    <div class="skill-bar">
                                        <div class="skill-per" id="95"></div>
                                    </div>
                                </div>

                                <div class="skill mb-30">
                                    <div class="skill-name">Dijital Poliçe Yönetimi</div>
                                    <div class="skill-bar">
                                        <div class="skill-per" id="80"></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>