
@*
    _UIHomeSkillComponent
*@
<section id="skill" class="skill-area p-relative fix pt-120">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 pr-30">
                <div class="skills-img" data-aos="fade-right" data-aos-duration="1000">
                    <img src="~/insureyou/img/bg/skills-img.png" alt="img" class="img">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="skills-content s-about-content" data-aos="fade-left" data-aos-duration="1000">
                    <div class="skills-title pb-20">
                        <h2>We Are Best In Our Class</h2>
                    </div>
                    <p>Nunc pretium, sem a ullamcorper semper, magna mi molestie ante, nec pellentesque libero tortor venenatis enim. </p>
                    <div class="mt-20">
                        <div class="skills">
                            <div class="skill mb-30">
                                <div class="skill-name">Success Cases</div>
                                <div class="skill-bar">
                                    <div class="skill-per" id="80"></div>
                                </div>
                            </div>
                            <div class="skill mb-30">
                                <div class="skill-name">Insurance Experience</div>
                                <div class="skill-bar">
                                    <div class="skill-per" id="90"></div>
                                </div>
                            </div>
                            <div class="skill mb-30">
                                <div class="skill-name">Digital Policy</div>
                                <div class="skill-bar">
                                    <div class="skill-per" id="70"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>