
@*
    _UILayoutHeadComponent
*@

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>InsureYouAI | Akıllı Sigorta Danışmanlığı Platformu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/ikon.png">


    <!-- CSS here -->
    <link rel="stylesheet" href="~/insureyou/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/insureyou/css/animate.min.css">
    <link rel="stylesheet" href="~/insureyou/css/magnific-popup.css">
    <link rel="stylesheet" href="~/insureyou/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/insureyou/css/dripicons.css">
    <link rel="stylesheet" href="~/insureyou/css/slick.css">
    <link rel="stylesheet" href="~/insureyou/css/meanmenu.css">
    <link rel="stylesheet" href="~/insureyou/css/aos.css">
    <link rel="stylesheet" href="~/insureyou/css/swiper.min.css">
    <link rel="stylesheet" href="~/insureyou/css/default.css">
    <link rel="stylesheet" href="~/insureyou/css/style.css">
    <link rel="stylesheet" href="~/insureyou/css/responsive.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>     