
@*
    _UIHomeServiceComponent
*@

<section id="services-05" class="services-05 services-09 pt-240 pb-100 p-relative fix" style=" background-color: #28314b;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12">
                <div class="section-title center-align mb-50 text-center" data-aos="fade-up" data-aos-duration="1000">
                    <h2>
                        Insurance Service We Provide You
                    </h2>

                </div>

            </div>
            <div class="col-lg-12">
                <div class="services-active" data-aos="fade-up" data-aos-duration="1000">
                    <div class="services-box-02">
                        <div class="services-img">
                            <img src="~/insureyou/img/bg/services-01.png" alt="icon01">
                            <div class="services-content2">
                                <div class="icon"><img src="~/insureyou/img/icon/sve-icon1.png" alt="icon01"></div>
                                <h4><a href="single-service.html">Health Insurance</a></h4>
                                <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur.</p>
                                <a class="link" href="single-service.html"><i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="services-box-02">
                        <div class="services-img">
                            <img src="~/insureyou/img/bg/services-04.png" alt="icon01">
                            <div class="services-content2">
                                <div class="icon"><img src="~/insureyou/img/icon/sve-icon2.png" alt="icon01"></div>
                                <h4><a href="single-service.html">Home Insurance</a></h4>
                                <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur.</p>
                                <a class="link" href="single-service.html"><i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="services-box-02">
                        <div class="services-img">
                            <img src="~/insureyou/img/bg/services-02.png" alt="icon01">
                            <div class="services-content2">
                                <div class="icon"><img src="~/insureyou/img/icon/sve-icon3.png" alt="icon01"></div>
                                <h4><a href="single-service.html">Business Insurance</a></h4>
                                <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur.</p>
                                <a class="link" href="single-service.html"><i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="services-box-02">
                        <div class="services-img">
                            <img src="~/insureyou/img/bg/services-03.png" alt="icon01">
                            <div class="services-content2">
                                <div class="icon"><img src="~/insureyou/img/icon/sve-icon4.png" alt="icon01"></div>
                                <h4><a href="single-service.html">Vehicle Insurance</a></h4>
                                <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur.</p>
                                <a class="link" href="single-service.html"><i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="services-box-02">
                        <div class="services-img">
                            <img src="~/insureyou/img/bg/services-02.png" alt="icon01">
                            <div class="services-content2">
                                <div class="icon"><img src="~/insureyou/img/icon/sve-icon3.png" alt="icon01"></div>
                                <h4><a href="single-service.html">Business Insurance</a></h4>
                                <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur.</p>
                                <a class="link" href="single-service.html"><i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
        <div class="row align-items-center">

            <div class="col-md-12 text-center">
                <div class="text-bg" data-aos="fade-up" data-aos-duration="1000">
                    <h2>Benefits</h2>
                </div>
            </div>
        </div>


    </div>
</section>