
@{
    Layout = null;
}

<!doctype html>
<html lang="en" class="semi-dark">

  @await Component.InvokeAsync("_LayoutHeadComponent")

<body>

  <div class="wrapper">

 @await Component.InvokeAsync("_LayoutNavbarComponent")

 
 @await Component.InvokeAsync("_LayoutSidebarComponent")
      
 <main class="page-content">



  @await Component.InvokeAsync("_LayoutBreadcrumbComponent")

            @RenderBody()

        </main>

 
 @await Component.InvokeAsync("_LayoutSwitcherComponent")

  </div>
  <!--end wrapper-->
    @await Component.InvokeAsync("_LayoutScriptsComponent")

</body>

</html>