
@*
    _UIHomeGalleryComponent
*@


<section class="gallery-area fix" data-aos="fade-up" data-aos-duration="1000">
    <div class="container-fluid">
        <div class="row portfolio-active">
            <div class="col-lg-4 col-md-12 mb-30">
                <a href="projects-detail.html">
                    <figure class="gallery-image">
                        <img src="~/insureyou/img/gallery/protfolio-img01.png" alt="img" class="img">
                        <figcaption>
                            <h4>Life Protection</h4>
                            <span>Insurance</span>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 mb-30">
                <a href="projects-detail.html">
                    <figure class="gallery-image">
                        <img src="~/insureyou/img/gallery/protfolio-img02.png" alt="img" class="img">
                        <figcaption>
                            <h4>Life Protection</h4>
                            <span>Insurance</span>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="col-lg-4 col-md-12 mb-30">
                <a href="projects-detail.html">
                    <figure class="gallery-image">
                        <img src="~/insureyou/img/gallery/protfolio-img03.png" alt="img" class="img">
                        <figcaption>
                            <h4>Life Protection</h4>
                            <span>Insurance</span>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 mb-30">
                <a href="projects-detail.html">
                    <figure class="gallery-image">
                        <img src="~/insureyou/img/gallery/protfolio-img01.png" alt="img" class="img">
                        <figcaption>
                            <h4>Life Protection</h4>
                            <span>Insurance</span>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 mb-30">
                <a href="projects-detail.html">
                    <figure class="gallery-image">
                        <img src="~/insureyou/img/gallery/protfolio-img02.png" alt="img" class="img">
                        <figcaption>
                            <h4>Life Protection</h4>
                            <span>Insurance</span>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="col-lg-4 col-md-12 mb-30">
                <a href="projects-detail.html">
                    <figure class="gallery-image">
                        <img src="~/insureyou/img/gallery/protfolio-img03.png" alt="img" class="img">
                        <figcaption>
                            <h4>Life Protection</h4>
                            <span>Insurance</span>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</section>
