@model List<Gallery>
@*
    _UIHomeGalleryComponent
*@
<style>

    .gallery-image {
        height: 300px; /* 🔥 burayı ayarlıyorsun */
        overflow: hidden;
    }

        .gallery-image img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* 🔥 en kritik satır */
        }
</style>

<section class="gallery-area fix" data-aos="fade-up" data-aos-duration="1000">
    <div class="container-fluid">
        <div class="row portfolio-active">
            @foreach(var item in Model)
            {
                <div class="col-lg-4 col-md-12 mb-30">
                    <a href="projects-detail.html">
                        <figure class="gallery-image">
                            <img src="@item.ImageUrl" alt="img" class="img">
                            <figcaption>
                                <h4>@item.Title</h4>
                           
                            </figcaption>
                        </figure>
                    </a>
                </div>
            }
           
        </div>
    </div>
</section>
