@model PricingPlanItem
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="card shadow-sm border-0 rounded-3">
    <div class="card-body">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <h5 class="mb-0 fw-bold text-primary">
                📂 Yeni Sigorta Planı Ekle
            </h5>
        </div>

        <form method="post">
 
            <div class="mb-3">
                <label class="form-label fw-semibold">
                    Sigorta Planı
                </label>

                <select asp-for="PricingPlanItemId"
                        asp-items="ViewBag.planList"
                        class="form-control">
                    <option value="">Kategori seçiniz</option>
                </select>

                <small class="text-muted">
                    Sigorta planının başlık bilgisini seçiniz.
                </small>
            </div>

            <div class="mb-3">
                <label class="form-label fw-semibold">
                    Plan Maddesi
                </label>

                <div class="input-group">
                    <span class="input-group-text bg-light">
                        <i class="bi bi-card-heading"></i>
                    </span>

                    <input type="text"
                           asp-for="Title"
                           class="form-control"
                           placeholder="Örn: Premium Sağlık Sigortası"
                           required />
                </div>

                <small class="text-muted">
                    Sigorta planının madde bilgisini giriniz.
                </small>
            </div>
           
            <div class="d-flex justify-content-start gap-2">

                <a href="/Admin/PricingPlanItem/PricingPlanItemList"
                       class="btn btn-outline-danger">
                    Vazgeç
                </a>

                <button class="btn btn-primary px-4">
                    <i class="bi bi-save"></i> Kaydet
                </button>

            </div>

        </form>

    </div>
</div>



