<!doctype html>
<html class="no-js" lang="zxx">

   @await Component.InvokeAsync("_UILayoutHeadComponent")
    
    <body>
         <!-- header -->
    @await Component.InvokeAsync("_UILayoutHeaderComponent")
        <!-- header-end -->


         <!-- offcanvas-area -->
    @await Component.InvokeAsync("_UILayoutMenuComponent")
                 <!-- offcanvas-end -->
        <!-- main-area -->
        <main>
            @RenderBody()
        </main>
        <!-- main-area-end -->

        <!-- footer -->
    @await Component.InvokeAsync("_UILayoutFooterComponent")
        <!-- footer-end -->

		<!-- JS here -->
    @await Component.InvokeAsync("_UILayoutScriptsComponent")
    </body>
</html>